section.section-photogallery
    h2.section-photogallery__title.text.text_48.text_black.text_helveticaB Фото<br class="desktop-none">
        span.text.text_red галерея
    
    .section-photogallery__slider-photogallery.slider-photogallery
        .slider-photogallery__item
            .slider-photogallery__img-wrap
                img(src="static/images/content/photo1.jpg", alt="photo")

        .slider-photogallery__item
            .slider-photogallery__img-wrap
                img(src="static/images/content/photo2.jpg", alt="photo")

        .slider-photogallery__item
            .slider-photogallery__img-wrap
                img(src="static/images/content/photo3.jpg", alt="photo")

        .slider-photogallery__item
            .slider-photogallery__img-wrap
                img(src="static/images/content/photo4.jpg", alt="photo")

        .slider-photogallery__item
            .slider-photogallery__img-wrap
                img(src="static/images/content/photo5.jpg", alt="photo")
    