section.section-questions
    .wrapper-content
        .section-questions__experience.experience-block
            h2.experience-block__title.text.text_48.text_helveticaB
                span.text.text_red Опыт <br class="mobile-br">
                | практиков
            p.experience-block__description.text.text_24 Узнайте, как эффективно работать и зарабатывать в сфере дизайна, визуализации, проектирования и строительства
        
    .section-questions__design-experts.design-experts
        .design-experts__img-wrap
            picture
                source(media="(max-width:500px)" srcset="static/images/content/expert-mobile.jpg")
                source(media="(min-width:500px)" srcset="static/images/content/expert.jpg")
                img.design-experts__img(src="static/images/content/expert.jpg" srcset="static/images/content/expert-mobile.jpg 500w, static/images/content/expert.jpg 600w" alt="expert" )
        .design-experts__content
            h3.design-experts__title.text.text_36.text_helveticaB 
                span.text-mobile_white О чем <br class="desktop-none">
                span.text.text_red молчат <br>
                |дизайн-эксперты?
            p.design-experts__description.text.text_16 Спикеры поделятся практическим знаниями,<br class="mobile-br-none"> особенностями подхода, секретами и фишками.
            span.design-experts__additional.text.text_red.text_helveticaB Каждый найдет свое
    
    .section-questions__income.section-income 
        .section-income__content
            h3.section-income__title.text.text_36.text_helveticaB 
                span.text-mobile_white Как 
                span.text.text_red заработать <br>
                |на дизайне?
            p.section-income__description.text.text_16 Готовые стратегии позиционирования и развития своей студии. <br> Мотивация сотрудников, делегирование и удаленная работа.
        
        .section-income__img-wrap
            picture
                source(media="(max-width:500px)" srcset="static/images/content/income-mobile.jpg")
                source(media="(min-width:500px)" srcset="static/images/content/income.jpg")
                img.section-income__img(src="static/images/content/income.jpg", alt="income")