section.section-program
    h2.section-program__title.text.text_white.text_48.text_helveticaB Програм
        span.text.text_black м
        |а
    .section-program__events
        .section-program__event.event
            time.event__time-and-place.text.text_20.text_helveticaM.text_white 10:15 — 11:15
                span.event__slash /
                |3 этаж, 
                span.text.text_red А45  
            p.event__description.text.text_16.text_white.text_helveticaUL Дизайн-бутик. Как поднять до абсолюта и держать марку во всех бизнес-процессах. <br> Как найти свой путь и своих клиентов, не уходя в массовость
            span.event__author.text.text_20.text_red.text_helveticaM Станислав Орехов

        .section-program__event.event
            time.event__time-and-place.text.text_20.text_helveticaM.text_white 11:15 — 12:00
                span.event__slash /
                |3 этаж, 
                span.text.text_red B21 
            p.event__description.text.text_16.text_white.text_helveticaUL Эффективный менеджмент дизайн-студии. Реальный опыт.
            span.event__author.text.text_20.text_red.text_helveticaM Александра Констан

        .section-program__event.event
            time.event__time-and-place.text.text_20.text_helveticaM.text_white 12:00 — 12:30
                span.event__slash /
                |1 этаж, 
                span.text.text_red С16  
            p.event__description.text.text_16.text_white.text_helveticaUL Как открывать эксклюзивные рестораны? <br> Ресторан бизнес-класса
            span.event__author.text.text_20.text_red.text_helveticaM Максим Вересов
    