section.section-speakers
    h2.section-speakers__title.text.text_48.text_helveticaB Спикеры

    
    .section-speakers__slider-speakers.slider-speakers
        .slider-speakers__item
            .slider-speakers__img-wrap
                img(src="static/images/content/speaker1.jpg", alt="speaker")
            h3.slider-speakers__name.text.text_24.text_helveticaM Станислав 
                span.text.text_red Орехов
            p.slider-speakres__info.text.text_16 Дизайнер, визуализатор, <br> руководитель студии <br> d-e-s-i-g-n.ru

        .slider-speakers__item
            .slider-speakers__img-wrap
                img(src="static/images/content/speaker2.jpg", alt="speaker")
            h3.slider-speakers__name.text.text_24.text_helveticaM Светлана  
                span.text.text_red Котлукова
            p.slider-speakres__info.text.text_16 Маркетолог, руководитель PR-агентства для дизайнеров «АрхДиалог»

        .slider-speakers__item
            .slider-speakers__img-wrap
                img(src="static/images/content/speaker3.jpg", alt="speaker")
            h3.slider-speakers__name.text.text_24.text_helveticaM Максим  
                span.text.text_red Вересов
            p.slider-speakres__info.text.text_16 Архитектор, строитель, руководитель компании деревянного строительства

        .slider-speakers__item
            .slider-speakers__img-wrap
                img(src="static/images/content/speaker4.jpg", alt="speaker")
            h3.slider-speakers__name.text.text_24.text_helveticaM Андрей 
                span.text.text_red Циммер
            p.slider-speakres__info.text.text_16 Дизайнер, визуализатор, руководитель студии 

        .slider-speakers__item
            .slider-speakers__img-wrap
                img(src="static/images/content/speaker5.jpg", alt="speaker")
            h3.slider-speakers__name.text.text_24.text_helveticaM Станислав 
                span.text.text_red Колотун
            p.slider-speakres__info.text.text_16 Дизайнер, визуализатор, руководитель студии <br>d-e-s-i-g-n.ru
